body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  -webkit-animation: appear 1s ease 0s 1 normal;
  -moz-animation: appear 1s ease 0s 1 normal;
  -ms-animation: appear 1s ease 0s 1 normal;
  animation: appear 1s ease 0s 1 normal;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container .icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

a {
  color: #ebeef1;
  text-decoration: none;
}

.sign-up a,
.login a {
  color: #0056b3;
  text-decoration: underline;
}

.sign-up,
.login,
.home,
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0056b3;
}

.sign-up .container,
.login .container,
.home .container,
.profile .container {
  width: 100%;
  max-width: 400px;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
